.book {
  background-color: var(--app-theme-color);
}

.book > div {
  flex: 1;
  -ms-flex: 1;
}

.image img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 100%;
}

.header h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-primary);
  color: #fff;
  line-height: 120%;
}

.header p {
  max-width: 570px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  line-height: 130%;
}

@media screen and (max-width: 1792px) {
  .doctors__container h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .header h2 {
    font-size: 2.4rem;
  }

  .header p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 948px) {
  .header h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 740px) {
  .header h2 {
    font-size: 1.8rem;
  }

  .book {
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 24px;
    padding-block: 20px;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 438px) {
  .header h2,
  .header p {
    max-width: 100%;
  }

  .header h2 {
    line-height: 110%;
    font-size: 1.6rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .header p {
    max-width: 290px;
  }
}
