.book {
  background-color: var(--app-theme-color);
  height: 80vh;
}

.book > div {
  flex: 1;
  -ms-flex: 1;
}

.image img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 100%;
  height: 700px;
  object-fit: cover;
  -o-object-fit: cover;
}

.header h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-primary);
  color: #fff;
  line-height: 120%;
}

.header p {
  max-width: 570px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  line-height: 130%;
}

.subscribe button,
.subscribe input,
.subscribe textarea {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
}

.days button.active {
  background-color: #000;
  color: #fff;
}

.subscribe {
  margin-top: 32px;
}

.subscribe button {
  background-color: #000;
  color: #fff;
  width: fit-content;
}

.subscribe input,
.subscribe textarea,
.day__select button {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 2px solid transparent;
}

.subscribe h3 {
  font-weight: 700;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: #fff;
}

.subscribe textarea {
  resize: vertical;
}

.subscribe input::placeholder,
.subscribe textarea::placeholder {
  color: #545557;
}

@media screen and (max-width: 1792px) {
  .doctors__container h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .header h2 {
    font-size: 2.4rem;
  }

  .header p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 948px) {
  .header h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 740px) {
  .header h2 {
    font-size: 1.8rem;
  }

  .book {
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 24px;
    padding-block: 20px;
  }

  .image {
    display: none;
  }

  .subscribe input,
  .subscribe textarea {
    font-size: 1rem;
  }
}

@media screen and (max-width: 438px) {
  .header h2,
  .header p {
    max-width: 100%;
  }

  .header h2 {
    line-height: 110%;
    font-size: 1.6rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .header p {
    max-width: 290px;
  }
}
