.book {
  background: url("/assets/images/book.jpg") no-repeat center;
  background-size: cover;
  min-height: 80vh;
}

.book > div {
  flex: 1;
  -ms-flex: 1;
}

.header h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-primary);
  color: #fff;
  line-height: 120%;
  text-align: center;
}

.header p {
  max-width: 480px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  line-height: 130%;
  text-align: center;
}

.subscribe button,
.subscribe input,
.subscribe textarea {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100% !important;
}

.days button.active {
  background-color: #000;
  color: #fff;
}

.subscribe {
  margin-top: 32px;
  width: 100%;
}

.subscribe button {
  background-color: #000;
  color: #fff;
  width: fit-content;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.subscribe input,
.subscribe textarea,
.day__select button {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 2px solid transparent;
}

.subscribe h3 {
  font-weight: 700;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: #fff;
}

.subscribe textarea {
  resize: vertical;
}

.subscribe input::placeholder,
.subscribe textarea::placeholder {
  color: #545557;
}

.header {
  max-width: 680px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 32px;
}

.days {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.days button {
  width: fit-content !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media screen and (max-width: 1792px) {
  .doctors__container h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .header h2 {
    font-size: 2.4rem;
  }

  .header p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 948px) {
  .header h2 {
    font-size: 2rem;
  }

  .header {
    padding: 24px;
  }

  .subscribe {
    margin-top: 16px;
  }

  .subscribe h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 740px) {
  .header h2 {
    font-size: 1.8rem;
  }

  .header p,
  .header h2 {
    text-align: left;
  }

  .book {
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 24px;
    padding-block: 20px;
  }

  .subscribe input,
  .subscribe textarea {
    font-size: 1rem;
  }

  .subscribe input,
  .subscribe textarea,
  .day__select button {
    padding: 0.6rem 1.2rem;
  }

  .header {
    padding: 20px 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .group {
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .day__select button {
    font-size: 1rem;
  }

  .subscribe {
    margin-top: 20px;
  }

  .subscribe h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 438px) {
  .header h2,
  .header p {
    max-width: 100%;
  }

  .header h2 {
    line-height: 110%;
    font-size: 1.6rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .header p {
    max-width: 290px;
  }
}
