.doctors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.doctors__container h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-primary);
  text-align: center;
  line-height: 120%;
}

.header p {
  max-width: 570px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: var(--gray);
  line-height: 130%;
}

@media screen and (max-width: 1792px) {
  .doctors__container h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .doctors__container h2 {
    font-size: 2.4rem;
  }

  .doctors__container {
    padding-block: 32px;
  }

  .header p {
    font-size: 1rem;
  }

  .doctors {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .doctors__container {
    gap: 24px;
  }
}

@media screen and (max-width: 948px) {
  .doctors__container h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 740px) {
  .doctors {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .doctors__container {
    padding-block: 20px;
  }

  .doctors__container h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 438px) {
  .doctors__container h2,
  .header p {
    max-width: 100%;
  }

  .doctors__container h2 {
    line-height: 110%;
  }

  .doctors__container h2 {
    font-size: 1.6rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}
