.footer {
  background-color: var(--app-theme-color);
  color: #fff;
}

.group,
.footer {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.footer h2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-primary);
}

.footer p {
  font-size: 1rem;
  max-width: 300px;
  width: 100%;
  line-height: 1.2;
}

.subscribe {
  max-width: 500px;
  width: 100%;
}

.subscribe button,
.subscribe input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
}

.subscribe button {
  background-color: #fff;
  color: var(--app-theme-color);
}

.subscribe input {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 2px solid transparent;
}

.subscribe input::placeholder {
  color: #545557;
}
