.button {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--app-theme-color);
  border: 2px solid transparent;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  white-space: nowrap;
}

.button.outlined {
  border-color: var(--app-theme-color);
  color: var(--app-theme-color);
  background-color: transparent;
}

.button:hover {
  opacity: 0.8;
}

.button svg {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.button:hover svg {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

@media screen and (max-width: 740px) {
  .button {
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
  }
}
