.menu__links {
  list-style-type: none;
}

@media screen and (max-width: 1050px) {
  .menu {
    padding-inline: 32px;
  }
}

@media screen and (max-width: 948px) {
  .menu {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: var(--background);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 24px;
  }

  .menu.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .menu.active ul {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }
}

@media screen and (max-width: 740px) {
  .menu {
    padding-inline: 20px !important;
  }
}
